body{
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.board{
    height: 500px;
    width: 500px;
    background-color: lightgray;
}

#buttons{
    margin-top: 20px;
}